@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Suez+One);
body {
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
h1{
    font-family: 'Suez One';
    font-size: 64px;
    font-weight: 100;
}
h2{
    font-size: 40px;
    font-family: 'Inter';
    font-weight: bold;
}
h3{
    font-size: 24px;
    font-family: 'Inter';
    font-weight: bold;
}
h4{
    font-family: 'Inter';
}
p{
    font-family: 'Inter';
    font-weight: normal;
}
nav1{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    margin-right: 26px;
}
nav2{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    margin-right: 26px;
}
nav3{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    margin-right: 26px;
}
nav4{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    margin-right: 26px;
}
nav5{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    margin-right: 26px;
}
nav6{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    margin-right: 26px;
}
nav7{
    background-color: #F2E3B6;
    padding-top: 38px;
    padding-left: 3px;
    padding-right: 5px;
    border-radius: 30%;
    margin-right: 26px;
}
header{
    text-align: center;
}
.logo-image {
    float: left;
    margin-top: 38px;
    margin-left: 173px;
}